@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dongle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0%;
}

.banner-logo {
    height: 72px;
}

.banner-menu {
    display: flex;
    gap: 32px;
}

.banner-menu-item {
    font-family: 'Dongle', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 25px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudoPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.conteudoPrincipal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudoPrincipal-escritoTitulo {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 54px;
    color: #FFF2E7;
}

.conteudoPrincipal-escritoSubtitulo {
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #ECD6C4;
}

.conteudoPrincipal-escritoBotao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #e58c8a;
}

.conteudoPrincipal-imagem {
    padding: 14px;
    height: 430px;
}

.conteudoSecundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 48px;
}

.conteudoSecundario-titulo {
    padding-top: 48px;
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.conteudoSecundario-paragrafo {
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #FFF2E7;

}

.rodape {
    border-top: 00.4px solid #FFF2E7;
    padding: 25px;
}

.rodapeImagem {
    height: 60px;
    display: block;
    margin: 0 auto;
}

@media (max-width:1200px) {
    .banner {
        padding-left: 20px;
    }
}

@media (max-width:750px) {
    .banner {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .banner-logo {
        height: auto;
    }

    .banner-menu {
        display: flex;
    }

    .conteudoPrincipal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .conteudoSecundario {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        padding-bottom: 0%;
    }

    .rodape {
        border-top: 00.4px solid #FFF2E7;
        padding: 25px;
        margin-top: 0%;
    }
    

}

